<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615766023718-l4bidbio2roq0h2amd49obgdcmv26n4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615766023718-l4bidbio2roq0h2amd49obgdcmv26n4e</string>
	<key>API_KEY</key>
	<string>AIzaSyCa8-j7UhZ1_1-hgCqCxWhtE5zHa2KHz7I</string>
	<key>GCM_SENDER_ID</key>
	<string>615766023718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onix.KropHackathon</string>
	<key>PROJECT_ID</key>
	<string>web-and-app-2ab44</string>
	<key>STORAGE_BUCKET</key>
	<string>web-and-app-2ab44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615766023718:ios:82ed444265ba9e129e90e7</string>
	<key>DATABASE_URL</key>
	<string>https://web-and-app-2ab44.firebaseio.com</string>
</dict>
</plist>